<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %C.%M:%L %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.strapdata.strapkop" level="${LOGBACK_com_strapdata_strapkop:-DEBUG}" />
    <logger name="com.strapdata.strapkop.controllers" level="${LOGBACK_com_strapdata_strapkop_controllers:-DEBUG}" />
    <logger name="com.strapdata.strapkop.k8s" level="${LOGBACK_com_strapdata_strapkop_k8s:-WARN}" />
    <logger name="com.strapdata.strapkop.event" level="${LOGBACK_com_strapdata_strapkop_event:-WARN}" />
    <logger name="com.strapdata.strapkop.source" level="${LOGBACK_com_strapdata_strapkop_source:-WARN}" />
    <logger name="com.strapdata.strapkop.handler" level="${LOGBACK_com_strapdata_strapkop_handler:-WARN}" />
    <logger name="com.strapdata.strapkop.pipeline" level="${LOGBACK_com_strapdata_strapkop_pipeline:-WARN}" />
    <logger name="com.strapdata.strapkop.sidecar" level="${LOGBACK_com_strapdata_strapkop_sidecar:-WARN}" />
    <logger name="com.strapdata.strapkop.plugins.test" level="${LOGBACK_com_strapdata_strapkop_test:-INFO}" />

    <logger name="com.strapdata.strapkop.reconcilier" level="${LOGBACK_com_strapdata_strapkop_reconcilier:-DEBUG}" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
